<!DOCTYPE html>
<html>
  <head>
    <!--
      -- @file index.ejs
      --
      -- @brief HTML page with a simple pseudo-form.
      -- 
      -- This template is processed by webpack
      -->
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
      <h2><%= htmlWebpackPlugin.options.title %></h2>
      <label for="barcode">Barcode</label>
      <input id="barcode" type="text">
      <button id="submit-barcode">Submit</button>
  </body>
</html>
